html,body { 
    font-size: 1.2em;
    font-family: 'Arvo', serif;
    text-align: center;
    background: #d2d6ea
}

a {
    color: #000;
    margin: 0.2em;
    text-decoration: none;
}

#hangm_gameover, #hangm_victory {
    font-size: 2em;
}

section#hangman {
    height: 30.5em;
    overflow: hidden;
}

#hangm {
    text-align: center;
}

.h {
    opacity: 0;
}

#hangm_animation {
    height: 10em;
    margin: 0 auto;
    width: 11em;
    transform: translate(-2em, -2em);
}

#hangm_word, 
#hangm_guesses {
    letter-spacing: 1em;
}

#hangm_hintbox {
    font-size: 0.5em;
    margin-top: 1em;
}